
@mixin boxshadow ($boxshadow) {
	box-shadow: $boxshadow;
	-webkit-box-shadow: $boxshadow;
	-moz-box-shadow: $boxshadow;
	-ms-box-shadow: $boxshadow;
}
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
  }
@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
  }
@mixin background-image ($url, $repeat: repeat, $position: center center){
	background-image: url($url);
	background-repeat: $repeat;
	background-position : $position;
}
@mixin border($width, $style, $color) {
    border-width: $width;
    border-style: $style;
    border-color: $color;
}
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin mediaquery ($screenSize) {
	@if ($screenSize == L) {
		@media only screen and (max-width: $L) { @content }
	}@else if ($screenSize == M) {
		@media only screen and (max-width: $M) { @content }
	}@else if ($screenSize == S) {
		@media only screen and (max-width: $S) { @content }
	}
	@else if ($screenSize == X) {
		@media only screen and (max-width: $X) { @content }
	}
}