@import "variable";
@import "mixin";
/*public setup css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "IRANSansWeb";
  background-color: pink;
  direction: rtl;

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a, a:focus, a:hover {
  text-decoration: none;
}
// button:focus {
//   outline: 3px solid #fff;
// }
// button:focus{
//   outline:none !important;
//   }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html{
  scroll-behavior: smooth;
}
@font-face {
    font-family: "IRANSansWeb";
    font-weight: normal;
    font-style: normal;
    src: url(../font/IRANSansWeb.ttf) format("truetype");
    src: url(../font/IRANSansWeb-FaNum.ttf) format("ttf");
    src: url(../font/IRANSansWeb.eot) format("eot");
    src: url(../font/IRANSansWeb.woff) format("woff");
     }

/***********************************welcome**********************************/


                                    #main_welcome {
                                      width: 380px;
                                      min-height: 600px;
                                      margin: 30px auto;
                                      height: auto;
                                      background-color:$colorwhite;
                                      display: flex;
                                      align-items: center;
                                      justify-content: space-evenly;
                                      align-self: center;
                                      flex-direction: column;           
                                          img{
                                              width: 254px;
                                          height: 224px;
                                          }
                                      
                                    
                                  .pulse-loading {
                                      width: 70px;
                                      height: 20px;
                                      margin-bottom: 90px;
                                      background-color: transparent;
                                      display: flex;
                                      justify-content: space-between;
                                      align-items: center;
                                      .pulse-bubble {
                                          width: 20px;
                                          height: 20px;
                                          border-radius: 5px;
                                      
                                          &.pulse-bubble-3 {
                                              animation: pulse .6s ease 0s infinite alternate;
                                              background-color: $green;
                                          }
                                          &.pulse-bubble-2 {
                                              animation: pulse .6s ease .3s infinite alternate;
                                              background-color: $light-green;
                                          }
                                          &.pulse-bubble-1 {
                                              animation: pulse .6s ease .6s infinite alternate;
                                              background-color: $green;
                                          }
                                          }
                                      }
                                          @keyframes pulse {
                                              from {
                                                
                                                  @include transform(scale(1)); 
                                              }
                                              to {
                                                
                                                        @include transform(scale(.5)); 
                                                }
                                            }

                                            @include mediaquery (X) {
                                              width: 100%;
                                              height: 100vh;
                                              margin: 0;
                                              padding: 0;
                                              background-color:$colorwhite;
                                              display: flex;
                                              align-items: center;
                                              justify-content: space-around;
                                              flex-wrap: nowrap;
                                              flex-direction: column;

                                          }
                                          }
/***************************************Home-1********************************/
                                      #main_home{
                                      width: 380px;
                                      min-height: 600px;
                                      margin: 30px auto;
                                      height: auto;
                                      background-color:$colorgreen;
                                      @include boxshadow(0 3px 6px rgba(0, 0, 0, 0.16));
                                      display: flex;
                                      flex-direction: column; 
                                      align-items: center;
                                      justify-content: space-evenly;
                                    justify-items: center;
                                    form{
                                      height: auto;
                                      text-align: center;;
                                    }
                                          
                                          .img{
                                          width: 120px;
                                          height: 100px;
                                      }
                                      .input-home{
                                          width: 100%;
                                          padding: 10px 30px
                                        }
                                          input[type="password"]{
                                              margin-top:15px;
                                              border-radius:10px;
                                              padding: 15px 0;
                                              text-align: center;
                                              background: #416600;
                                              font-size: 20px;
                                              color: #fff;
                                              border:2px solid #fff;
                                              text-align: center;
                                              width: 100%;
                                          
                                            }
                                  
                                            .buttom_home{
                                              border-radius:15px;
                                              cursor: pointer;
                                              align-content: center;
                                              width: 80px;
                                              height: 50px; 
                                              margin-top: 50px;
                                              background:$colorwhite;
                                              img{
                                                  width: 65px;
                                                  height: 38px;
                                              }
                                          
                                  
                                            }
                                            .msg{
                                              display: none;
                                              position: absolute;
                                               top:35%;
                                             }
                                        @include mediaquery (X) {
                                          width: 100%;
                                          height: 100vh;
                                          margin: 0;
                                          padding: 0;

                                        }

                                  }

 /***************************************Home-2*******************************/

                                  #main_home2{
                                    width: 380px;
                                    min-height: 600px;
                                    margin: 30px auto;
                                    height: auto;
                                    background-color:$colorgreen;
                                    @include boxshadow(0 3px 6px rgba(0, 0, 0, 0.16));
                                    display: flex;
                                    flex-direction: column; 
                                    align-items: center;
                                    justify-content: space-evenly;
                                  justify-items: center;
                                      form{
                                        width: 100%;;
                                        height: auto;
                                        text-align: center;;
                                      }
                                          .img{
                                          width: 120px;
                                          height: 100px;
                                      }
                                    .input_home2{
                                      width: 100%;
                                      padding: 10px 30px
                                    }
                                    input[type="password"]{
                                      margin-top:15px;
                                      border-radius:10px;
                                      padding: 15px 0;
                                      text-align: center;
                                      background: #416600;
                                      font-size: 20px;
                                      color: #fff;
                                      border:2px solid #fff;
                                      text-align: center;
                                      width: 100%;
                                  
                                    }
                                        .buttom_home2{
                                          border-radius:15px;
                                          cursor: pointer;
                                          align-content: center;
                                          width: 80px;
                                          height: 50px; 
                                          margin-top: 80px;
                                          background:$colorwhite;

                                          img{
                                              width: 65px;
                                              height: 38px;
                                          }

                                        }
                                        .msg{
                                          display: none;
                                          position: absolute;
                                          top:40%;
                                         }
                                        @include mediaquery (X) {
                                          width: 100%;
                                          height: 100vh;
                                          margin: 0;
                                          padding: 0;

                                        }

                                  }

  /*********************************Profile********************************/

                                  #main_profile{
                                      position: relative;
                                      width: 380px;
                                      min-height: 600px;
                                      margin: 30px auto;
                                      height: auto;
                                      background-color:$colorwhite;
                                      @include boxshadow(0 3px 6px rgba(0, 0, 0, 0.16));
                                      display: flex;
                                      justify-content: space-between;
                                      align-items: center;
                                      
                                
                                      .header_profile{
                                          position: fixed;
                                          top:0;
                                          z-index: 20;
                                          height: 65px;
                                          padding:20px 20px;
                                          width: 380px;
                                          background: $colorgreen;
                                          display: flex;
                                          flex-direction: row;
                                          justify-content:space-between;
                                          align-items: center;  
                                          align-content: center;
                                          .menu-toggler{     
                                            position: absolute;
                                         
                                            top:20px;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            cursor: pointer;
                                            z-index: 1500;
                                            transition: transform 650ms ease-out;
                                          
                                          
                                          }
                                          .top-nav{
                                            top:-100vh;
                                            width: 190px;
                                            right: 0;
                                            height: 300px;
                                            position: fixed;
                                            z-index:50;	
                                            background-color:$green;
                                            border-bottom-left-radius: inherit;
                                            border-bottom-right-radius: inherit;
                                          //  transition: all 650ms cubic-bezier(1,0,0,1);  

                                           .header_nav{
                                            z-index: 20;;

                                            position: absolute;
                                            top:65px;
                                            height: 30px;
                                            right:0;
                                            width:190px;
                                            background:#5A9800;
                                            display: flex;
                                            flex-direction: row;
                                            border-end-end-radius: 10px;;
                                            justify-content: center;
                                            border-bottom-left-radius: inherit;
                                            border-bottom-right-radius: inherit;
                                           
                                            p{
                                                @include font-size(10px);
                                                color:$colorwhite;
                                                padding: 5px 5px;
                                            }
                                          }
                                           .input_nav{
                                            text-align: center;
                                            border-radius: 10px;
                                            margin:110px 0px;
                                            padding: 10px;;
                                           input{
                                             width: 100%;
                                            height:30px;
                                            margin:10px 0;
                                            border-radius:10px;
                                            text-align: center;
                                            background: #416600;
                                            font-size: 12px;
                                            color: #fff;
                                            border:1px solid #fff;
                                            text-align: center;
                                            
                                         
                                          }
                                          .buttom_nav{
                                            border-radius:10px;
                                            cursor: pointer;
                                            align-content: center;
                                            width: 55px;
                                            height: 30px; 
                                            background:$colorwhite;
                                            margin: 20px 0;
                                
                                          }
                                          }
                                        } 
                                       
                                       .top-nav.open{
                                        position: absolute;
                                         top:0;
                                       }
                                       
                                        
                                        img{
                                          margin: 0 15px;

                                          width: 25px;
                                          height: 28px;
                                        }
                                      

                                      }

                                      .header_user{
                                          position: fixed;
                                          top:65px;
                                          height: 30px;
                                          width: 380px;
                                          background:$light-green;
                                          display: flex;
                                          flex-direction: row;
                                          justify-content: space-between;
                                          color:  $colorwhite;
                                          padding: 0 10px;
                                          input[type="text"]{
                                            width: 20px;
                                          height:20px;;
                                          border: none;
                                          font-size:10px;
                                         
                                          background-color: $light-green;
                                           
                                          }
                                          p{
                                              @include font-size(10px);
                                              color:$colorwhite;
                                              padding: 5px 5px;
                                          }
                                          
                                      }



                                      .content_profile{
                                        display: flex;
                                        justify-content: center ;
                                        flex-wrap: wrap;
                                        .img_profile{
                                          flex-basis: 150px;
                                         
                                        }
                                        .img{
                                          width: 153px;
                                          height: 153px;;
                                        }
                                      }



                                      .footer_profile{
                                          position: fixed;
                                          bottom: 0;
                                          width: 380px;
                                          height: 65px;
                                          background-color: $green;
                                          display: flex;
                                          flex-direction: row;
                                          justify-content:space-around;                          
                                          .img{
                                            padding:5px 0;
                                              width: 36px;
                                              width: 36px;
                                          }
                                          p{
                                            text-align: center;
                                            color:$colorwhite;
                                            font-size: 10px;
                                            justify-content: center;

                                        }
                                        .style_img{
                                            margin-top:10px;
                                        }

                                      }

                                        @include mediaquery (X) {
                                          width: 100%;
                                          height: 100vh;
                                          margin: 0;
                                          padding: 0;

                                        }

                                  }





  /*********************************Profile_1********************************/

                      #main_profile-1{
                        position: relative;
                        width: 380px;
                        min-height: 600px;
                        margin: 30px auto;
                        height: auto;
                        background-color:$colorwhite;
                        @include boxshadow(0 3px 6px rgba(0, 0, 0, 0.16));

                        
                        .header_profile-1{
                          position: fixed;
                          top:0;
                          height: 65px;
                          width: 380px;
                          background: $colorgreen;
                          display: flex;
                          flex-direction: row;
                          justify-content:space-between ;
                          padding: 0 20px;
                          align-items: center;  
                          align-content: center
                          
                        }
                        .header_user-1{
                          position: fixed;
                          top:52px;
                          height: 30px;
                          width: 380px;
                          background:$light-green;
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;
                          color:  $colorwhite;
                          padding: 0 10px;
                          input[type="text"]{
                            width: 20px;
                          height:20px;;
                          border: none;
                          font-size:10px;
                         
                          background-color: $light-green;
                           
                          }
                          p{
                              @include font-size(10px);
                              color:$colorwhite;
                              padding: 5px 5px;
                          }
                          
                      }

                        
                        .footer_profile-1{
                          position: fixed;
                          bottom: 0;
                          width: 380px;
                          height: 65px;
                          background-color: $green;
                          display: flex;
                          flex-direction: row;
                          justify-content:space-around;                          
                          .img{
                            padding:5px 0;
                              width: 36px;
                              width: 36px;
                          }
                          p{
                            text-align: center;
                            color:$colorwhite;
                            font-size: 10px;
                            justify-content: center;

                        }
                        .style_img{
                            margin-top:10px;
                        }

                      }

                       
                          @include mediaquery (X) {
                            width: 100%;
                            height: 100vh;
                            margin: 0;
                            padding: 0;



                          }

                    }




 /**********************************profile-2*****************************/

                                  #main_profile2{
                                      position: relative;
                                      margin:30px auto;
                                      width: 380px;
                                      min-height:600px;
                                      height: auto;
                                      background-color:$colorwhite;
                                      @include boxshadow(0 3px 6px rgba(0, 0, 0, 0.16));
                                      display: flex;
                                      flex-direction: column;
                                      justify-content:center;
                                      align-items: center;
                                      .header_profile2{
                                          position: fixed;
                                          top:0;
                                          height: 65px;
                                          width: 380px;
                                          padding: 0px  15px;
                                          background: $colorgreen;
                                          display: flex;
                                          flex-direction: row;
                                          align-items: center;  
                                          justify-content: space-between;
                                          align-content: center;
                                        img{
                                          margin: 0 15px;
                                          width: 25px;
                                          height: 28px;
                                        }
                                      
                                      p{
                                          @include font-size(11px);
                                          color:$colorwhite;
                                      
                                      
                                      }

                                      }

                                      .main2_profile2{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content:space-evenly;
                                        align-items: center;
                                        height: 500px;

                                      .content_data{
                                      // position: absolute;
                                      padding: 10px 5px;
                                      // top:100px;
                                      // width: 285px;
                                      height: 45px;
                                      @include border(1px,solid,#87C90F);
                                      @include  border-radius(10PX);
                                      display: flex;
                                      .arrow-btn1{
                                        position: absolute; top: 25px;  right: 70px; z-index: 20; padding-top: 0;
                                        .btn1{border:none;background:none; box-shadow: none;
                                          outline:0;

                                        }
                                      }
                                      .arrow-btn2{
                                      position: absolute; top: 25px; right: 40px; z-index: 20; padding-top: 0;
                                      .btn2{
                                        border:none;background:none; box-shadow: none; outline:0;

                                      }
                                       
                                      }
                                     
                                      .btn-input{
                                        position: absolute;
                                        top: 30px;
                                        right: 70px;
                                        z-index: 20;
                                        padding-top: 0;
                                      }

                                      .input_date1{
                                        width: 160px; 
                                        z-index: 5000; 
                                        font-size: 11px;
                                         color:#5A9800;
                                         padding: 5px;
                                        margin: 0 5px; 
                                        outline: none;
                                          border: none;  
                                          box-shadow: 0 3px 6px #ccc;
                                          text-align: center;
                                        
                                      }
                                      .input_date2{
                                        outline: none;

                                        text-align: center;
                                        width: 90px; 
                                        z-index: 5000; 
                                        font-size: 11px;
                                         color:#5A9800;
                                         padding: 5px;
                                        margin: 0 5px; 
                                          border: none;  
                                          box-shadow: 0 3px 6px #ccc;
                                        
                                      }
                                }
                                    .content_currency{
                                        // position: absolute;
                                        // top:180px;
                                        // width: 285px;
                                        // height: auto;
                                        @include border(1px,solid,#87C90F);
                                        @include  border-radius(10PX);

                                        .title_currency{
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            border-bottom: .5px solid $light-green;
                                            p{
                                           font-size:14px;
                                            color:$green;  
                                            padding:10px 15px;
                                        
                                            }
                                        
                                        }
                              
                                      }

                                    .select_item{
                                      display: flex;
                                      border-bottom: .5px solid $light-green;
                                      flex-direction: row;
                                      flex-wrap: wrap;
                                      justify-content:flex-end;
                                        text-align: center;
                      
                                      
                                      .input{
                                        margin:5px 5px;
                                        width:100px;
                                        input[type="text"]{
                                          font-size: 14px;;
                                          box-shadow: none;
                                          outline:none !important;
                                            width:100%;
                                            height: 30px;
                                            background-color: #fff !important;
                                            border: none;
                                            cursor: pointer;
                                            border-top-color: green;
                                            border-radius: 10px;
                                           
                                    }

                                      }
                                      .txt_select{
                                        font-size:14px;
                                        color:$green;  
                                        margin:10px auto;
                                      }
                                    }
                               

                                    .autocomplete {
                                      position: relative;
                                      display: inline-block;
                                    }
                                    
                                    .autocomplete-items {
                                      position: absolute;
                                      border: 1px solid #d4d4d4;
                                      border-bottom: none;
                                      border-top: none;
                                      z-index: 99;
                                      top: 100%;
                                      left: 0;
                                      right: 0;
                                    }
                                    
                                    .autocomplete-items div {
                                      padding: 10px;
                                      cursor: pointer;
                                      background-color: #fff; 
                                      border-bottom: 1px solid #d4d4d4; 
                                    }
                                    
                                    .autocomplete-items div:hover {
                                      background-color: #e9e9e9; 
                                    }
                                    
                                    .autocomplete-active {
                                      background-color: DodgerBlue !important; 
                                      color: #ffffff; 
                                    }
                                    

                                    .select_item_arz {
                                      display: flex;
                                      align-self: center;
                                      justify-content: center;
                                      border:none;
                                     input{
                                       box-shadow: none;
                                       outline: 0;
                                       font-size: 14px;
                                       margin-top: 30px;
                                       color:#fff;
                                      width:100px;
                                      background-color: #87C90F;
                                       border-top-left-radius:$colorgreen;
                                     }
                                    }
                              
                                    .textarea_currency{
                                      // position: absolute;
                                      // bottom: 0px;
                                      margin:0 4px;
                                      margin-top: 30px;
                                     textarea{
                                       width: 275px;
                                       height: 100px;
                                       border-radius: 5px;
                                       font-size: 16px;
                                       padding:10px 15px;
                                       @include font-size(11px);
                                       color:$green;  
                                       padding:10px 15px;
       
                                     }
                                   }
                                  .btn_accept{
                                    width: 94px;
                                    height: 45px;
                                    background-color: #87C90F;
                                    font-size: 19px;
                                    text-align: center;
                                    border-radius: 10px;
                                    color:#fff;
                                    button{
                                    box-shadow: none;
                                    outline:none;
                                   }
                                   
                                  }
                                  }
                                    .footer_profile2{         
                                      position: fixed;
                                      bottom: 0;
                                      width: 380px;
                                      height: 65px;
                                      background-color: $green;
                                      display: flex;
                                      flex-direction: row;
                                      justify-content:space-around;                          
                                      .img{
                                        padding:5px 0;
                                          width: 36px;
                                          width: 36px;
                                      }
                                      p{
                                        text-align: center;
                                        color:$colorwhite;
                                        font-size: 10px;
                                        justify-content: center;
                        
                                    }
                                    .style_img{
                                        margin-top:10px;
                                    }
                        
                                  }                        
                            @include mediaquery (X) {
                              width: 100%;
                              min-height: 100vh;
                              height: auto;
                              margin: 0;
                              padding: 0;


                      }
                    }
                     
 
                                      
